#login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  gap: 3rem;
}
#login-logo {
  font-size: 5rem;
}
#google-btn,
#naver-btn,
#signup-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 20rem;
  height: 5rem;
  font-size: 2rem;
  border: 2px solid white;
  border-radius: 10px;
  transition: background-color 0.3s, transform 0.3s;
}
#google-btn:hover,
#naver-btn:hover,
#signup-btn:hover {
  background-color: rgba(0, 0, 0, 0.3);
  transform: scale(1.01);
}
#google-btn > div {
  width: 2rem;
  height: 2rem;
  background-image: url(../../img/google.png);
  background-size: cover;
}
#naver-btn > div {
  width: 2rem;
  height: 2rem;
  background-image: url(../../img/naver.png);
  background-size: cover;
}
