{% extends 'base.html' %} {% load static %} {%block head%}
<link rel="stylesheet" href="{%static 'css/game/game_detail.css'%}" />
<title>게임 정보</title>{% endblock %} {%block content%}
<div class="detail-container">
  <p>id- attacker VS defender</p>

  <!-- 조건문처리 -->
  <!-- <div class="mode">
    <p>상태</p>
    <p>나-내숫자</p>
    <form action="" method="post"><button>게임 취소</button></form>
  </div> -->

  <!-- <div class="mode">
    <button id="go-defend">대응하기</button>
  </div> -->

  <div class="mode">
    <p>조건: 더 많은 사람이 이깁니다</p>
    <p>user: 숫자</p>
    <p>나: 내숫자</p>
    <p>결과: 승리</p>
    <p>점수: 내숫자</p>
  </div>

  <a href="{% url 'game:list'%}"><button id="view-all">전체 목록</button></a>
</div>
{%endblock%}
