{% load socialaccount %}
{% providers_media_js %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        {% if user.is_authenticated %}
            <a href="/accounts/logout">로그아웃</a>
            {{user.username}}님이 로그인 중
        {% else %}
        <li>
            <a href="{% provider_login_url 'google' %}">Login with Google</a>
        </li>
       
        {% comment %} <li>
            <a href="{% provider_login_url 'naver' %}">네이버 로그인</a>
        </li>  {% endcomment %}
        <li>
            <a href="{% provider_login_url 'kakao' %}">카카오 로그인</a>
        </li>
        {% endif %}        
        {% if user.is_authenticated %}
            <li><a href="{% url 'users:logout' %}">Logout</a></li>
        {% else %}
            <li><a href="{% url 'users:login' %}">Login</a></li>
            <li><a href="{% url 'users:signup' %}">Signup</a></li>
        {% endif %}
        <a href="{% url 'users:ranking' %}">랭킹 보기</a>
        {% block content %}
        {% endblock content %}
    </body>
</html>